/* default css start  */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Mr+Dafoe&family=Nuosu+SIL&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&family=Sacramento&family=Tangerine:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 650;
    font-size: 14px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
button.btn{
    font-size: 14px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

.section_p1{
    padding: 40px 80px;
}
.section_m1{
    margin: 40px 0;
}

/* default css end  */

/* header area start  */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #f3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    text-align: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a#active{
    color: #F4511E;
}
#navbar li a#active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #F4511E;
    bottom: -4px;
    left: 20px;
    position: absolute;
}
#close{
    display: none;
}
#mobile{
    display: none;
}
/* header area end  */

/* ------------Home page start-----------  */
#hero{
    background-image: url("/images/hero/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 65% right 0;
    background-color: #f3E6F3;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 25px;
}
#hero h1{
    color: #F4511E;
}
#hero button{
    color: #F4511E;
    border: 2px solid #F4511E;
    padding: 10px 40px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    font-weight: 550;
}

/* feature area start  */
#feature{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 200px;
}
#feature .fe_box{
    width: 180px;
    text-align: center;
    padding: 25px 15px; 
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}
#feature .fe_box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe_box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe_box h6{
    display: inline-block;
    background-color: #fddde4;
    color: #088178;
    line-height: 1;
    border-radius: 4px;
    padding: 9px 8px 6px 8px;
}
#feature .fe_box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe_box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe_box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe_box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe_box:nth-child(6) h6{
    background-color: #fff2e5;
}
/* feature area end  */
/* feature products area start  */
#product1{
    text-align: center;
}
#product1 .pro_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .descrip{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .descrip span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .descrip h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .descrip i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .descrip h4{
    padding-top: 7px;
    font-size: 20 px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
/* feature products area end  */
/* banner area start  */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("/images/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 20px;
}
#banner h2{
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}
#banner h2 span{
    color: #F4511E;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
}
/* banner area end  */

/* sm banner area start  */
#sm_banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm_banner .banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/banner/b17.jpg);
    min-width: 49%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm_banner .banner_box2{
    background-image: url(/images/banner/b10.jpg);
}
#sm_banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm_banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm_banner span{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.btn_sm_banner{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    padding: 11px 18px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
button.btn_sm_banner:hover{
    background-color: #088178;
    border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(/images/banner/b7.jpg);
    background-size: cover;
    background-position: center;
    min-width: 30%;
    height: 30vh;
    padding:  20px;
    margin-bottom: 20px;
}
#banner3 h2{
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}
#banner3 h3{
    color: #F4511E;
    font-size: 16px;
    font-weight: 800;
}
#banner3 .box2{
    background-image: url(/images/banner/b4.jpg);
}
#banner3 .box3{
    background-image: url(/images/banner/b18.jpg);
}
/* sm banner area end  */

/* newsletter area start  */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
#newsletter p{
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* newsletter area end  */

/* footer area start  */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
    margin-bottom: 8px;
}
footer .col a{
    text-decoration: none;
    font-size: 13px;
    margin-bottom: 20px;
    color: #222;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    font-size: 20px;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.2s;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
   color: #088178;
   font-size: 30px;
}
footer .copywrite{
    width: 100%;
    text-align: center;
}
/* footer area end  */
    
/*-------------- Home page end  ------------*/

/*------------- shop page start  -------------*/
#page_header{
    background-image: url(/images/banner/b1.jpg);
    background-size: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
}
#shop_page h2,
#shop_page p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    color: #fff;
    padding: 15px 20px;
    font-weight: 600;
    border-radius: 4px;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
#product_details{
    display: flex;
    margin-top: 20px;
}
#product_details .product_images{
    width: 40%;
    margin-right: 50px;
}
.small_image_group{
    display: flex;
    justify-content: space-between;    
}
.small_img_col{
    flex-basis: 24%;
    cursor: pointer;
}
#product_details .product_details{
    width: 50%;
    padding-top: 30px;
}
#product_details .product_details h4{
    padding: 40px 0 20px 0;
}
#product_details .product_details h2{
    font-size: 26px;
}
#product_details .product_details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 15px;
}
#product_details .product_details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#product_details .product_details input:focus{
    outline: none;
}
#product_details .product_details button{
    background-color: #088178;
    color: #fff;
}
#product_details .product_details span{
    line-height: 25px;
}
/*-------------- shop page end  --------------*/


/*-------------- blog page area start -------------- */
#page_header.blog_page{
    background-image: url(/images/banner/b19.jpg);
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog #blog_box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog_img{
    width: 50%;
    margin-right: 20px;
}
#blog img{
    width: 95%;
    height: 400px;
    object-fit: cover;
}
#blog .blog_details{
    width: 50%;
    margin-right: 100px;
}
#blog .blog_details a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}
#blog .blog_details a::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 9px;
    right: -60px;
}
#blog .blog_details a:hover{
    color: #088178;
}
#blog .blog_details a:hover::after{
    background-color: #088178;
}
#blog #blog_box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -10;
}
/*-------------- blog page area end ---------------- */

/*-------------- about page area start  --------------*/
#page_header.about_page{
    background-image: url(/images/about/banner.png);
}
#page_header.about_page h2,
#page_header.about_page p{
    color: #fff;
}
#about_head{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#about_head img{
    width: 50%;
    height: 500px;
}
#about_head .details{
    padding-left: 40px;
}
#about_app{
    text-align: center;
}
#about_app #video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about_app #video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/*-------------- about page area start  --------------*/

/*---------------- contact area start  ----------------*/
#contact_details{
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
#contact_details .details{
    width: 40%;
}
#contact_details .map{
    width: 55%;
    height: 400px;

}
#contact_details .map iframe{
    width: 100%;
    height: 100%;

}
#contact_details .details span,
#form_details form span{
    font-size: 12px;
}
#contact_details .details h2,
#form_details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact_details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact_details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact_details .details i{
    font-size: 14px;
    padding-right: 22px;
}
#contact_details .details p{
    margin: 0;
    font-size: 14px;
}
#form_details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form_details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form_details form input,
#form_details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form_details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form_details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form_details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form_details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/*----------------- contact area end  -----------------*/

/*--------------- cart area start  ---------------*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 50px;
    
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 
    150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 0;
}
#cart table tbody td{
    padding-top: 16px;
    font-size: 14px;
}
#cart_add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cart_add #coupon{
    width: 50%;
    margin-bottom: 30px;
}
#cart_add #coupon h3,
#cart_add #subtotal h3{
    padding-bottom: 15px;
}
#cart_add #coupon input{
    padding: 10px 20px;
    width: 60%;
    outline: none;
    margin: 10px;
    border: 1px solid #e2e9e1;
}
#cart_add #coupon button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
#cart_add #subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#cart_add #subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#cart_add #subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 14px;
}
#cart_add #subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 21px;
}
/*--------------- cart area end  ---------------*/





/* Media Query start  */
@media (max-width:799px) {
    .section_p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #f3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    .cart{
        display: none;
    }
    #hero {
        background-position: top 40% right 85%;
        height: 70vh;
        padding: 0 80px;
    }
    #feature{
        justify-content: center;
    }
    #feature .fe_box {
        margin: 12px 12px;
    }
    #product1 .pro_container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px 15px;
    }
    #banner {
        height: 25vh;
    }
    #sm_banner .banner_box {
        width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner_box {
        width: 25%;
    }
    #newsletter .form {
        width: 70%;
    }
}




    /* single product start */

@media(max-width: 477px){
    #product_details {
        display: flex;
        flex-direction: column;
    }
    #product_details .product_images {
        width: 100%;
        margin-right: 0px;
    }

}
    